*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    width: 100%;
    height: 100%;

}
#nav{
    width: 100%;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.432);
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 45px;
    position: fixed;
    justify-content: flex-start;
    z-index: 99;
}
#nav img{
    height: 80px;
    border-radius: 40px;
}
#nav h4{
    font-weight: 500;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
    font-weight: 500;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.326);

}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}  
#page1 h1{
    
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}  
#page1 h4{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
}
#page1 p{
    width: 60%;
    text-align: center;
    font-size: 19px;
    font-weight: 100;
    margin-top: 30px;
    
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.634);
    background-image: url(https://images.unsplash.com/photo-1577190651915-bf62d54d5b36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2938&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#aboutus{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
}
#aboutus img{
    height: 220px;
    width: 220px;
    object-fit: cover;
    border-radius: 20px;
} 
#aboutusin{
    width: 70%;
    text-align: center;
}
#aboutusin h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 20%;
}
#aboutusin p{
    
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#scroller{
    /* background-color: red; */
    white-space: nowrap;
    margin-top: 20%;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scrollerin{
    display: inline-block;
    white-space: nowrap;
    animation: scroll;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4{
    display: inline-block;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    margin-right: 10px;
    color: transparent;
    transition: all linear 0.5s;
    -webkit-text-stroke: 2px white;
     
}
#scroller h4:hover{
    color: #fff;
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}
#page3{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    overflow: hidden;
    transition: all ease 1s;
    
}
#page3 img{
    height: 100%;
    width: 40%;
    object-fit: cover;
    transition: all ease 1s;
}
#page3 img:hover{
    scale: 1.2;
}
#page3 h1{
    position: absolute;
    color: black;
    left: 40%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    margin-left: 15%;
}
#box1{
    position: absolute;
    width: 50%;
    height: 20%;
    /* background-color: red; */
    margin-top: 10%;
    margin-left: 45%;
    
}
#box1 h3{
    font-size: 25px;
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#box1 h6{
    font-size: 17px;
    font-weight: lighter;
    margin-top: 30px;
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#box1 h4{
    color: black;
}
#box2{
    position: absolute;
    width: 50%;
    height: 20%;
    /* background-color: red; */
    margin-top: 25%;
    margin-left: 45%;
    

}
#box2 h3{
    font-size: 25px;
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#box2 h6{
    font-size: 17px;
    color: #000;
    font-weight: lighter;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#box2 h4{
    color: black;
}
#box3{
    width: 50%;
    height: 20%;
    
    /* background-color: red; */
    margin-top: 40%;
    margin-left: 5%;
    

}
#box3 h3{
    font-size: 25px;
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#box3 h6{
    font-size: 17px;
    color: #000;
    font-weight: lighter;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#box3 h4{
    color: black;
}
#page4{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
}
#page4 img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    
}

#conn{
    position: absolute;
    width: 80%;
    height: 80%;
    margin-top: 10%;

    /* background-color: red; */
   
}
#conn h1{
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    margin-left: 10%;
}
#say{
    width: 90%;
    height: 15%;
    margin-top: 15%;
    margin-left: -1%;
    border: 1px solid #fff;
    transition: all ease 1s;

    /* background-color: blue; */
}
#say:hover{
    background-color: #fff;
}

#say h3{
    margin-left: 12%;
    margin-top: 3%;
    font-size: 30px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    transition: all ease 1s;

}
#say h3:hover{
    color: #000;
}
#nine{
    width: 90%;
    height: 15%;
    margin-top: 0%;
    margin-left: -1%;
    border: 1px solid #fff;
    transition: all ease 1s;



    /* background-color: blue; */
}
#nine:hover{
    background-color: #fff;
}
#nine h3{
    margin-left: 12%;
    margin-top: 3%;
    font-size: 30px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    transition: all ease 1s;


}
#nine h3:hover{
    color: #000;
}
#number{
    width: 30%;
    height: 15%;
    /* background-color: red; */
    margin-left: 89%;
    margin-top: -16.3%;
    border: 1px solid white;
    transition: all ease 1s;

}
#number:hover{
    background-color: #fff;
}
#number h4{
    margin-left: 20%;
    margin-top: 8%;
    font-size: 30px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    transition: all ease 1s;



}
#number h4:hover{
    color: #000;
}
#conn p{
    position: absolute;
    top: 80%;
    left: 15%;
    opacity: 0.6;
    
}
#conn img{
    width: 12%;
    height: 12%;
    top: 79%;
    left: 2%;
    border-radius: 10px;
    opacity: 0.9;
}
#insta{
    position: absolute;
    left: 75%;
    top: 66%;
    opacity: 0.9;
    font-size: 50px;
}
#insta:hover{
    color: rgb(44, 167, 79);
}
#face{
    position: absolute;
    left: 82%;
    top: 66%;
    opacity: 0.9;
    font-size: 50px;
}

#twi{
    position: absolute;
    left: 89%;
    top: 66%;
    opacity: 0.9;
    font-size: 50px;
}
#menu{
    position: absolute;
    font-size: 25px;
    left: 85%;
    color: #000;
}




